`.App {
  text-align: center;
}
.navbar button {
  border: none;
  background: rgba(0, 0, 0, 0);
}

.navbar button:focus {
  outline: 0;
}

.card {
  width: calc(20vw - 4em);
  margin: 1em;
  padding: 1em;
  background-color: rgb(78, 128, 152);
  display: inline-block;
  border-radius: 3px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  vertical-align: top;
}

.card-text {
  color: rgb(9, 35, 39);
}
