`.App {
  text-align: center;
}

.navbar button {
  border: none;
  background: rgba(0, 0, 0, 0);
}

.navbar button:focus {
  outline: 0;
}

.navbar {
}

.card {
  width: calc(20vw - 4em);
  margin: 1em;
  padding: 1em;
  background-color: rgb(246, 189, 96);
  display: inline-block;
  border-radius: 3px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  vertical-align: top;
}

.card-text {
  color: rgb(49, 61, 58);
}
